include CONTRIBUTING.rst
include LICENSE
include README.md
include meson.build
include pyproject.toml
include dlup/py.typed
include dlup/_background.pyx
include dlup/_background.pyi

recursive-include dlup *.py *.pyi
recursive-include src *.cpp *.h *.hpp
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py Makefile make.bat *.jpg *.png *.gif
